
# Created by https://www.gitignore.io/api/macos,nova
# Edit at https://www.gitignore.io/?templates=macos,nova

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### nova ###
.nova/*

# End of https://www.gitignore.io/api/macos,nova

# ProcessWire Files And Folders
cms/site/assets/cache/*
cms/site/assets/logs/*
cms/site/assets/sessions/*
cms/site/assets/files/*
cms/site/templates/errors/500.html
cms/site/templates/errors/README.txt
