<!-- Churches Modals -->
{% for church in site.churches %}
<div
  class="churches-modal modal fade"
  id="p{{ forloop.index }}"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Church Details Go Here -->
              <h2 class="text-uppercase">{{ church.title }}</h2>
              <p class="item-intro text-muted">{{ church.subtitle }}</p>
              <img
                class="img-fluid d-block mx-auto"
                src="{{ church.image }}"
                alt="{{ church.alt }}"
              />
              <p>{{ church.content }}</p>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                {{ site.churches.closebutton |
                default: "x" }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<!-- End Churches Modals -->
