# Turn on Rewrite Engine
RewriteEngine On

# Force HTTPS and WWW 
RewriteCond %{REQUEST_URI} !^/(robots\.txt|favicon\.ico|sitemap\.xml)$
RewriteCond %{HTTP_HOST} !^www\.kirchgemeindebund-wilsdruff-freital\.de$ [NC]
RewriteRule ^(.*)$ https://www.kirchgemeindebund-wilsdruff-freital.de/$1 [R=301,L]